//本页面由uniapp切片工具生成，uni-app切片-可视化设计工具(一套代码编译到7个平台iOS、Android、H5、小程序)，软件下载地址：http://www.ymznkf.com/new_view_669.htm
.YmContent {
  height: 100vh;
  width: 750upx;
  background-color: #f3f3f3;
}
button::after {
  border: none;
  width: auto;
}
input {
  outline: none;
  border: none;
  list-style: none;
  width: auto;
}
.list_item {
  float: left;
}
.ym_hide {
  display: none;
}
.ym_show {
  display: block;
}
.list_horizontal {
  width: auto;
  display: inline-block;
}
.my_1 {
  white-space: normal;
  width: 750upx;
  height: 100vh;
  padding: 0upx;
  clear: both;
  float: left;
  background-color: #f5f6f5;
  border-radius: 0upx;
  font-size: 8upx;
}
.my_1 .my_2 {
  white-space: normal;
  width: 750upx;
  height: 373upx;
  padding: 0upx;
  clear: both;
  margin-top: 0upx;
  margin-left: 0upx;
  float: left;
  background-color: red;
  border-radius: 0upx;
  font-size: 8upx;
}
.my_1 .my_2 .my_6 {
  white-space: normal;
  width: 655upx;
  height: 113upx;
  padding: 0upx;
  clear: both;
  margin-top: 58upx;
  margin-left: 46upx;
  float: left;
  border-radius: 0upx;
  font-size: 8upx;
}
.my_1 .my_2 .my_6 .my_7 {
  white-space: normal;
  width: 113upx;
  height: 113upx;
  overflow: hidden;
  padding: 0upx;
  margin-top: 0upx;
  margin-left: 0upx;
  float: left;
  background-color: red;
  border-radius: 82upx;
  font-size: 8upx;
  line-height: 113upx;
}
.my_1 .my_2 .my_6 .my_8 {
  white-space: normal;
  width: auto;
  height: 35upx;
  padding: 0upx;
  margin-top: 40upx;
  margin-left: 39upx;
  float: left;
  border-radius: 0upx;
  color: #ffffff;
  font-size: 33upx;
  line-height: 35upx;
}
.my_1 .my_2 .my_6 .my_9 {
  white-space: normal;
  width: 35upx;
  height: 36upx;
  padding: 0upx;
  margin-top: 38upx;
  margin-left: 22upx;
  float: left;
  border-radius: 0upx;
  font-size: 35upx;
  line-height: 36upx;
}
.my_1 .my_2 .my_10 {
  white-space: normal;
  width: 652upx;
  height: 33upx;
  padding: 0upx;
  clear: both;
  margin-top: 54upx;
  margin-left: 49upx;
  float: left;
  border-radius: 0upx;
  color: #ffffff;
  font-size: 32upx;
  line-height: 33upx;
}
.my_1 .my_2 .my_13 {
  white-space: normal;
  width: 656upx;
  height: 1upx;
  padding: 0upx;
  clear: both;
  margin-top: 24upx;
  margin-left: 45upx;
  float: left;
  background-color: #ffffff;
  border-radius: 0upx;
  font-size: 3upx;
  line-height: 4upx;
}
.my_1 .my_2 .my_14 {
  white-space: normal;
  width: 654upx;
  height: 27upx;
  padding: 0upx;
  clear: both;
  margin-top: 30upx;
  margin-left: 47upx;
  float: left;
  border-radius: 0upx;
  color: #ffffff;
  font-size: 24upx;
  line-height: 27upx;
}
.my_1 .my_4 {
  white-space: normal;
  width: 749upx;
  height: 193upx;
  padding: 0upx;
  clear: both;
  margin-top: 0upx;
  margin-left: 0upx;
  float: left;
  background-color: #fdfffd;
  border-radius: 0upx;
  font-size: 8upx;
}
.my_1 .my_4 .my_31 {
  white-space: normal;
  width: 683upx;
  height: 88upx;
  padding: 0upx;
  clear: both;
  margin-top: 9upx;
  margin-left: 38upx;
  float: left;
  border-bottom-color: #e1e1e1;
  border-bottom-width: 1upx;
  border-bottom-style: solid;
  border-radius: 0upx;
  font-size: 8upx;
}
.my_1 .my_4 .my_31 .my_23 {
  white-space: normal;
  width: 61upx;
  height: 61upx;
  padding: 0upx;
  margin-top: 7upx;
  margin-left: 6upx;
  float: left;
  border-radius: 0upx;
  font-size: 60upx;
  line-height: 61upx;
}
.my_1 .my_4 .my_31 .my_24 {
  white-space: normal;
  width: 311upx;
  height: 33upx;
  padding: 0upx;
  margin-top: 22upx;
  margin-left: 17upx;
  float: left;
  border-radius: 0upx;
  color: #000000;
  font-size: 31upx;
  line-height: 33upx;
}
.my_1 .my_4 .my_31 .my_25 {
  white-space: normal;
  width: 13upx;
  height: 23upx;
  padding: 0upx;
  margin-top: 26upx;
  margin-left: 264upx;
  float: left;
  border-radius: 0upx;
  font-size: 22upx;
  line-height: 23upx;
}
.my_1 .my_4 .my_32 {
  white-space: normal;
  width: 683upx;
  height: 68upx;
  padding: 0upx;
  clear: both;
  margin-top: 13upx;
  margin-left: 38upx;
  float: left;
  border-radius: 0upx;
  font-size: 67upx;
  line-height: 68upx;
}
.my_1 .my_4 .my_32 .my_27 {
  white-space: normal;
  width: 61upx;
  height: 61upx;
  padding: 0upx;
  margin-top: 2upx;
  margin-left: 6upx;
  float: left;
  border-radius: 0upx;
  font-size: 60upx;
  line-height: 61upx;
}
.my_1 .my_4 .my_32 .my_28 {
  white-space: normal;
  width: 279upx;
  height: 33upx;
  padding: 0upx;
  margin-top: 18upx;
  margin-left: 16upx;
  float: left;
  border-radius: 0upx;
  color: #000000;
  font-size: 32upx;
  line-height: 33upx;
}
.my_1 .my_4 .my_32 .my_29 {
  white-space: normal;
  width: 13upx;
  height: 23upx;
  padding: 0upx;
  margin-top: 21upx;
  margin-left: 297upx;
  float: left;
  border-radius: 0upx;
  font-size: 22upx;
  line-height: 23upx;
}
.my_1 .my_5 {
  white-space: normal;
  width: 749upx;
  height: 97upx;
  padding: 0upx;
  clear: both;
  margin-top: 13upx;
  margin-left: 0upx;
  float: left;
  background-color: #fdfffd;
  border-radius: 0upx;
  font-size: 8upx;
}
.my_1 .my_5 .my_17 {
  white-space: normal;
  width: 61upx;
  height: 61upx;
  padding: 0upx;
  margin-top: 17upx;
  margin-left: 45upx;
  float: left;
  border-radius: 0upx;
  font-size: 60upx;
  line-height: 61upx;
}
.my_1 .my_5 .my_18 {
  white-space: normal;
  width: 247upx;
  height: 32upx;
  padding: 0upx;
  margin-top: 33upx;
  margin-left: 18upx;
  float: left;
  border-radius: 0upx;
  color: #000000;
  font-size: 30upx;
  line-height: 32upx;
}
.my_1 .my_5 .my_19 {
  white-space: normal;
  width: 13upx;
  height: 23upx;
  padding: 0upx;
  margin-top: 36upx;
  margin-left: 328upx;
  float: left;
  border-radius: 0upx;
  font-size: 22upx;
  line-height: 23upx;
}
